<div class="column align-spaced">
  <div class="row align-spaced">
    <h1>チームごとのブキ</h1>
  </div>
  <div class="row align-spaced large-unstack">
    <div class="teamA">
      <h2>アルファチーム</h2>
      <% @team1.each do |weapon| %>
          <ul><%= weapon.name_ja %></ul>
      <% end %>
    </div>
    <div class="teamB">
      <h2>ブラボーチーム</h2>
      <% @team2.each do |weapon| %>
          <ul><%= weapon.name_ja %></ul>
      <% end %>
    </div>
  </div>
  <div class="row align-spaced">
    <button class="large expanded button primary" data-clipboard-text='<%= @result %>' id='d_clip_button'>
      結果をコピー
    </button>
  </div>
  <div class="row align-spaced">
    <p>
      ブキを更新するにはページを更新してください。
    </p>
  </div>
</div>